.App {
  font-family: Arial, Helvetica, sans-serif;
  background: #EEEEEE;
}

#main {
  text-align: center;
}

/* #explore {
  background-image: url('https://images.unsplash.com/photo-1484308129484-ff3063eea281?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2462&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  height:100%
} */

.menuItem {
  text-align: center;
  color: black;
  font-weight: bold;
  padding:10px;
}

#home {
  background-image: url('photo20.avif');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh
}

#update {
    background-image: url('https://images.unsplash.com/photo-1484308129484-ff3063eea281?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2462&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh
}

#menu {
  display: flex;
  justify-content:flex-end
}

.moodboard {
  border-style: solid;
  border-color: gray;
  max-width: 1000px;
  height: 800px;
  margin: auto;
}

.pieceLibrary:hover {
  background-color: gray;
}