.App {
  font-family: Arial, Helvetica, sans-serif;
  background: #EEEEEE;
}

#main {
  text-align: center;
}

.menuItem {
  text-align: center;
  color: white;
  font-weight: bold;
  padding:10px;
}

#home {
  background-image: url('photo20.avif');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh
}

#menu {
  display: flex;
  justify-content:flex-end
}

.moodboard {
  border-style: solid;
  border-color: gray;
  max-width: 1000px;
  height: 800px;
  margin: auto;
}

.pieceLibrary:hover {
  background-color: gray;
}