.App {
  font-family: Arial, Helvetica, sans-serif;
  background: #EEEEEE;
}

#main {
  text-align: center;
}

#menu {
  display: flex;
  justify-content:flex-end
}

#title {
  padding-right: 30px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-style: italic;
}

.menuItem {
  text-align: center;
  color: black;
  font-weight: bold;
  padding:10px;
}

#home {
  background-image: url('photo20.avif');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh
}

#update {
    background-image: url('https://images.unsplash.com/photo-1484308129484-ff3063eea281?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2462&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh
}

#profile {
  background-image: url('https://images.unsplash.com/photo-1484308129484-ff3063eea281?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2462&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh
}

#designsPage {
  background-image: url('photo19.avif');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh
}

#myDesigns {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-style: italic;
  color:black;
}

.designMenuItem {
  text-align: center;
  color: black;
  font-weight: bold;
  padding:10px;
}

#newDesign {
  font-size: large;
}

#designDisplay {
  background-color: #EEEEEE;
}


#collectionPage {
  padding: 20px;
}

.moodboard {
  border-style: solid;
  border-color: gray;
  max-width: 1000px;
  height: 800px;
  margin: auto;
}

#mainName {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-style: italic;
}

.pieceLibrary:hover {
  background-color: gray;
}

#exploreHeadline {
  position:sticky;
  position: -webkit-sticky; /* Safari */
  top: 30%;
  color:#263A29;
  font-family: Cormorant Garamond;
  font-size: 5vw;
  padding:20px;
}

#loading {
  background-color: rgba(0,0,0,.4);
  padding: 30px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-style: italic;
  position:absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  /* align-items: center;
  display: flex;
  justify-content: center; */

  
  transform: translate(-50%, -50%);
  
}


